@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

#logo{
    font-family: 'Silkscreen', cursive;
}

.form-new-c{
	width: 350px;
	margin: 0 auto;
}

a{
	text-decoration: none;
}

#del-c{
	display: inline;
}

i{
	font-size: 40px;
}

#message{
	display: none;
	color: crimson;
}